
/* Main --------------------------------------------------------*/

html {
    font-family: 'Press Start 2P';
    font-size: 2rem;
}

body {
    background-color: #222;
    color: #EFF6EE;
}

.settings {
    justify-content: space-between;
	display: inline-flex;
	align-items: center;
}

.divbody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marginAdd {
	margin: 10 auto;
}

.toph1 {
    font-size: .55rem;
    margin-bottom: 10px;
}

/*button --------------------------------------------------------*/
.buttonGame {
    position: relative;
    font-size: .75rem;
    width: 200px;
    height: 75px;
}

/*media --------------------------------------------------------*/

.footer__style {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	align-items: center;
	text-align: center;
}

.media__block {
	justify-content: space-between;
	display: inline-flex;
	align-items: center;
}

.media__a{
	display: inline-flex;
	text-align: center;
	align-items: center;
    text-decoration: none;
    color: #EFF6EE;
}

.media__img {
	display: block;
	width: 20px;
	height: 20px;
	margin: 20px;
}

.media__text {
	font-size: 20px;
	text-transform: uppercase;
	vertical-align: top;
	margin: 0 15px;
	text-decoration: none;
}

/* white theme --------------------------------------------------------*/

.winter {
    background-color: #F2F8F8;
    color:  #000000;
}

.winter__button {
    --color: #5A6886;
    --border-color: #5A6886;
    --shadow-color:#2B2E3B;

    color: #000000;
}

.winter__restart {
    --color:#7A84A3;
    --border-color:#7A84A3;
    --shadow-color:#2B2E3B;

    color: #000000;
}

/* other --------------------------------------------------------*/

.shellHide {
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
}

.hide{
    display: none;
}

#display,
#time__display,
#counter {
    height: 32px;
}