@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Main --------------------------------------------------------*/

html {
	font-family: "Bebas Neue";
	font-size: 2rem;
}

body {
	background-color: #222;
	color: #eff6ee;
}

.settings {
	justify-content: space-between;
	display: inline-flex;
	align-items: center;
}

.divbody {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.marginAdd {
	margin: 10 auto;
}

.toph1 {
	text-align: center;
	font-size: 1.7rem;
	margin-bottom: 10px;
}

li {
	list-style-type: decimal;
}

p {
	margin: 0;
}

/*button --------------------------------------------------------*/
.buttonGame {
	min-width: 600px;
}

.buttonRestart {
	position: relative;
	margin-top: 15px;
	width: 75px;
	height: 75px;
}

.btn_iconStyle {
	text-align: center;
}

/*media --------------------------------------------------------*/

.footer__style {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	align-items: center;
	text-align: center;
}

.media__block {
	justify-content: space-between;
	display: inline-flex;
	align-items: center;
}

.media__a {
	display: inline-flex;
	text-align: center;
	align-items: center;
	text-decoration: none;
}

.media__img {
	display: block;
	width: 20px;
	height: 20px;
	margin: 20px;
}

.media__avatar {
	margin: 0px;
}

.media__text {
	font-size: 20px;
	text-transform: uppercase;
	vertical-align: top;
	margin: 0 15px;
	text-decoration: none;
}

/* white theme --------------------------------------------------------*/

.winter {
	background-color: #f2f8f8;
	color: #000000;
}

/* other --------------------------------------------------------*/

.text__Transform {
	text-transform: uppercase;
}

.shellHide {
	user-select: none;
}

.hide {
	display: none;
}

#display,
#time__display,
#counter {
	height: 52px;
}
